{
    "presets": [
      ["@babel/preset-env", {
        "debug": false,
        "targets": {
          "browsers": ["ie 11"]
        }
      }]
    ],
    "ignore": [
        "node_modules"
    ],
    "env": {
      "test": {
        "plugins": ["babel-plugin-rewire"]
      }
    }
  }